# Figure 4: Novel gene predictions and top selected module features

figure items:
'

In [4]:
import pandas as pd

## Novel gene predictions

In [6]:
all_scores = pd.read_csv('../../results/final_model_svc/all_gene_scores.csv')

In [8]:
# 'known' == 1 if the gene is in any of the curated list, the befree list, or svensson list
novel_genes_scores = all_scores[all_scores['known'] == 0]

In [11]:
novel_genes_scores.iloc[0:21, :].to_csv('top_20_novel_genes_scored.csv')
novel_genes_scores.iloc[0:21, :]

          0     score  known
0     PTGS2  0.981269      0
1     HMOX1  0.976353      0
3      NOS2  0.965863      0
4       POR  0.965423      0
7      FMO5  0.964273      0
8     LTC4S  0.962595      0
10    CYB5A  0.961886      0
12    FABP1  0.959179      0
13    BLVRA  0.958831      0
15  SLC27A5  0.955856      0
17   VKORC1  0.954547      0
18    ALOX5  0.952931      0
20     GPX8  0.950811      0
21  CYP4A11  0.947587      0
23     IDO1  0.945522      0
28    BBOX1  0.942592      0
29    FABP9  0.941981      0
30    ARNT2  0.941813      0
31     GPX7  0.940538      0
32    HPGDS  0.939909      0
33    GSTA2  0.939700      0

## Top model features