# Train and save final model

Run all cells to train model as described below and score all 14,707 genes

## Final model details:
- Linear SVC

- Train using all 70 curated genes as positives, random set of 200 held out as negative set

- Random undersampling to achieve 1:2 positive to negative ratio

- Gene-module cosine similarity scores as features

- Feature selection to pick top 64 modules based on ANOVA F-value

In [14]:
from refined_model import *

In [2]:
# instantiate model object using configurations described above
final_model = Nash_Model(save_path='../results/final_model_svc', 
                    sample=RandomUnderSampler(sampling_strategy=.5, random_state=0),
                    use_modules=True,
                    feat_sel=True,
                    model_type='SVC')

# train the model using the set of all 70 curated genes as positives
final_model.train_all_curated()

# score all genes and save
final_model.score_all_genes()

In [5]:
# show gene scores
pd.read_csv('../results/final_model_svc/all_gene_scores.csv')

            0     score  known
0       PTGS2  0.981269      0
1       HMOX1  0.976353      0
2      NFE2L2  0.968064      1
3        NOS2  0.965863      0
4         POR  0.965423      0
...       ...       ...    ...
14702   CAND2  0.002541      0
14703   RSPH9  0.002440      0
14704   LRRC6  0.002370      0
14705  RSPH6A  0.002367      0
14706  DNAAF3  0.002356      0

[14707 rows x 3 columns]